/* @import url("style.css"); */

/* desktop */
@media (max-width: 1400px) {
    .search-input {
        width: 600px;
    }

    .alter-options {
        overflow: auto;
    }

    .alter-options button {
        padding: 0px 5px;
    }
}


/* laptop <= 1200 */ 
@media (max-width: 1200px) {

    .search-input {
        width: 500px;
    }

    .product-card {
        width: 25%;
    }

    .product-category-container .product-card {
        width: 33.33%;
    }

    .function-btn>div {
        font-size: 13px;
    }

    .filter-category {
        margin-top: 20px;
    }

    .option-container button,
    .color-container button {
        padding: 0 10px;
    }

    .price-container {
        display: block;
    }

    .price-caller {
        width: 100%;
        padding: 5px 20px;
        justify-content: center;
        font-size: 18px;
    }
    
    .price-main {
        border-left: none;
        border-top: 1px solid #fff;
    }

    .payment-discount {
        font-size: 12px;
    }

    .change-quantity input {
        width: 40px;
    }

    .promotion-items {
        padding: 10px
    }

    .promotion-items p {
        margin-bottom: 10px;
    }

    .cart-content .quantity {
        padding: 12px;  
    }

    .cart-content .quantity span {
        min-width: 35px;
    }

    .payment-promotions {
        padding: 0 30px;
        padding-top: 20px;
    }

    .cart-content .value {
        font-size: 14px;
    }
}


/* tablet <= 992 */ 
@media (max-width: 992px) {
    header .second-header-row {
        display: none
    }

    .logo-img {
        display: none;
    }

    #sidebar-open-btn {
        display: block;
    }

    #side-nav-container {
        display: block;
        height: 100vh;
        width: 280px;
        padding: 20px 0 20px 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: none;
        transition: all 500ms;
        transform: translateX(-100%);
        z-index: 2000;
        overflow-y: auto;
    }
    
    #side-nav-container.active {
        transform: translateX(0);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #back-drop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    #back-drop.active {
        opacity: 0.5;
        z-index: 1500;
        background-color: #000;
    }
    
    #close-btn {
        font-size: 30px;
        transform: translateY(-10px);
        padding: 0 10px;
        cursor: pointer;
    }

    .side-menu {
        margin-top: 15px;
    }

    .side-nav-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dee2e6;
    }

    .sidebar-logo {
        width: 60%;
    }

    .sidebar-main-menu {
        display: flex;
        justify-content: space-between;
        height: 30px;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .arrow-container {
        padding: 0 10px;
        border-left: 1px solid #e0e0e0;
        cursor: pointer;
    }

    .arrow-container i {
        transition: all 300ms;
    }

    .arrow-container i.active  {
        transform: rotate(90deg);
    }

    .sub-menu {
        display: none;
    }

}