@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;0,800;0,900;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Roboto", "sans-serif";
    overflow-x: hidden;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* a:active {
    color: initial;
} */

.freepik {
    color: rgb(57, 20, 64);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.nav-container {
    position: absolute;
    display: none;
}

.online-training {
    background: url(./img/PA7BIF1x.jpg);
    background-position: 50% 50%;
    min-height: 607px;
    height: 607px;
    color: #312933;
    /* margin-top: 70px; */
}

.online-training .wrapper {
    --wrapper-width: calc(((100% - 1140px) / 2) + 1140px);
    width: var(--wrapper-width);
    height: 100%;
    margin: 0 0 0 auto;
    /* border: 1px black solid; */
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.text {
    position: relative;
    flex: 0 0 46.66666667%;
    max-width: 46.66666667%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text .fa-bars {
    display: none;
}

.text h3 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 36px;
}

.text h1 {
    text-transform: uppercase;
    font-weight: 700;
    ;
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    line-height: 1.1;
}

.text p {
    margin: 24px auto 0 0;
    font-family: 'Open Sans', sans-serif;
}

.text p a {
    text-decoration: underline;
}

.text a#logo {
    position: absolute;
    top: 22px;
    left: 0;

}

.text a img {
    max-width: 64px;
    max-height: 64px;
}

.image-wrapper {
    position: relative;
    background-image: url(./img/people.jpg);
    min-height: 607px;
    background-position: 50% 50%;
    background-size: cover;
    flex: 0 0 53.33333333%;
    max-width: 53.33333333%;
}

.image-wrapper img {
    height: 100%;
    max-height: 100%;
}

.image-wrapper a {
    color: #999999;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 21px;
    right: calc(var(--wrapper-width)/6);
    line-height: 16px;

}

.image-wrapper a:hover {
    color: #4d4d4d;
}



.choose-us .wrapper-2 {
    color: rgb(17, 17, 17);
    width: 1140px;
    margin: 0 auto;
}

.choose-us h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin: 60px auto 0;
    text-align: center;
    line-height: 1.1;
}

.choose-us p {
    font-family: 'Open Sans', sans-serif;
    margin: 17px auto 0;
    text-align: center;
}

.card-wrapper {
    margin: 20px 0 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card-item {
    padding: 30px;
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 337px;
    margin-bottom: 22px;
}

.card-item h1 {
    font-size: 15.625rem;
    font-weight: 900;
    margin: 0 auto;
    color: #f9e79b;
    position: absolute;
}

.card-item h3,
.card-item p {
    z-index: 1;
}

.card-item h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 23px;
}

.card-item p {
    line-height: 1.6;
}

.life-is-good {
    background: url(./img/background-3.jpg);
    min-height: 565px;
    height: 565px;
}

.wrapper-3 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 0 0 0 auto;
    height: 100%;
    display: flex;
    /* flex: 1 1 100%; */
}

.life-description {
    flex: 0 0 46.66666667%;
    max-width: 46.66666667%;
    padding: 30px;
    /* display: flex;
    flex-direction: column; */
}

.life-description h1 {
    color: rgb(17, 17, 17);
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 700;
    font-size: 3rem;
    font-family: "Roboto", "sans-serif";
    margin-top: 80px;
    color: #f1c50e;
}

.life-description h5 {
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 0;
}

.life-description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    margin: 36px 41px 0 0;
    line-height: 1.6;
}

.life-description p:last-of-type {
    margin: 11px auto 0 0;
    color: #000;
    font-size: 1rem;
}

.read-more {
    margin: 36px auto 0 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 700;
    padding: 13px 52px;
    color: #111111;
    background-color: #f1c50e;
    display: block;
    width: fit-content;
}

.read-more:hover {
    background-color: #fff;
}




.life-image {
    height: 100%;
    flex: 0 0 53.33333333%;
    max-width: 53.33333333%;
    overflow: hidden;
}

.life-image img {
    height: 100%;
    max-height: 100%;
}

.why-us {
    background-image: url(./img/why-us-background.jpeg);
    background-position: 0% 50.8%;
    background-size: 115%;
    background-repeat: no-repeat;
}

.why-us-wrapper {
    width: 1140px;
    min-height: 564px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.why-us h6 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 400;
    margin-top: 60px;
}

.why-us p {
    font-style: normal;
    margin: 20px 0;
}

.why-us h2 {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 1.1;

}

.why-us p:last-of-type {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    margin: 20px 656px 60px 0;
    word-wrap: break-word;
}

.result-partner {
    min-height: 510px;
}

.result-partner-wrapper {
    width: 1140px;

    margin: 60px auto;
    display: flex;
}

.result-text {
    min-height: 431px;
    max-width: 70%;
    flex: 0 0 70%;
    color: rgb(17, 17, 17);
    padding: 30px;
}

.result-text h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 30px;
    line-height: 1.1;
}

.result-text p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.8;
}

.result-text .read-more {
    margin-top: 20px;
}


.result-image {
    min-height: 390px;
    max-width: 30%;
    flex: 0 0 30%;
    background-image: url(./img/result-image.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-credit {
    letter-spacing: 1px;
}

.partner-info-wrapper {
    width: 1140px;
    /* min-height: 398px; */
    margin: 0 auto;
    color: rgb(17, 17, 17);
}


.partner-info-wrapper h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 55px;
    text-align: center;
}

.partner-info-wrapper p {
    width: 460px;
    margin: 20px auto 0;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.partner-info-wrapper .brand-container {
    margin: 26px auto 55px 0;
    width: 100%;
    display: flex;
}

.brand-img {
    padding: 30px;
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 153px;
}

.brand-img img {
    width: 116px;
    height: 83px;
    margin: 0 auto;
    object-fit: contain;
}

.contact {
    background-color: #000;
    color: #fff;
}

.contact-wrapper {
    width: 1140px;
    min-height: 747px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-wrapper h1 {
    font-size: 12.5rem;
    color: rgb(64, 64, 64);
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.1;
    margin: 18px auto 0;
}

.contact-wrapper>h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    margin: -143px auto 0;
    line-height: 1.1;
    color: #f1c50e;
}

.contact-box {
    display: flex;
    margin: 70px auto 18px 0;
}

.company-info {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
    min-height: 464px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.company-info h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: auto;
}

.company-info .feel-free {
    word-wrap: break-word;
    margin: 19px auto 0 0;
    line-height: 1.6;
}

.company-info .fa-envelope {
    color: rgb(241, 197, 14);
    font-size: 3rem;
    margin-top: 28px;
}

.company-info h6 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 6px;
}

.company-info .fa-phone {
    color: rgb(241, 197, 14);
    font-size: 3rem;
    margin-top: 30px;
}

.company-info .phone {
    margin-top: 20px;
}


.fill-form {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
}

.user-form {
    display: flex;
    flex-direction: column;
}

.fill-form {
    padding: 40px;
}

.user-form .name,
.user-form .address,
.user-form textarea {
    margin-bottom: 19px;
    width: 100%;
    padding: 10px 12px;
    border: #fff solid 2px;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #fff;
}

.name::placeholder,
.address::placeholder,
textarea::placeholder {
    font-weight: 600;
}

.tos-container {
    margin-bottom: 19px;
}

.tos-container label {
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.tos-container label a {
    text-decoration: none;
    color: #e5bfed;
}

.tos-container label a:hover {
    color: #a1a1a1;
}

.submit-btn {
    display: block;
    width: fit-content;
    background-color: #f1c50e;
    color: rgb(17, 17, 17);
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: normal;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.submit-btn:hover {
    background-color: #d9b10d;
}

.footer {
    background-color: #333333;
    color: #fff;
}

.footer-wrapper {
    width: 1140px;
    margin: 0 auto;
    min-height: 120px;
    position: relative;
    overflow: auto;
}


.footer-wrapper p {
    width: 417px;
    margin: 49px auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    text-align: center;
}

.web-credit {
    background-color: #333333;
    color: #fff;
    padding: 1em;
    position: relative;
}

.web-credit p {
    line-height: 1.6;
    width: fit-content;
    margin: 20px auto;
    font-size: .8rem;
}

.web-credit p a {
    color: #e5bfed;
}


.web-credit p a:hover {
    color: #a1a1a1;
    text-decoration: none;

}




























/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {

    .online-training .wrapper,
    .wrapper-3 {
        width: calc(((100% - 940px) / 2) + 940px);
        max-height: 501px;
        min-height: initial;
    }

    .online-training,
    .text,
    .image-wrapper {
        max-height: 501px;
        min-height: initial;
    }

    .online-training .text,
    .online-training .image-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .image-wrapper a {
        right: 60px;
    }


    .choose-us .wrapper-2 {
        width: 940px;
    }

    .choose-us .card-item {
        margin-bottom: 17px;
    }

    .life-description,
    .life-image {
        flex: 0 0 50%;
        max-width: 50%;
    }



    .life-is-good,
    .life-description,
    .life-image {
        max-height: 494px;
        min-height: initial
    }

    .life-description h1 {
        margin-top: 30px;
    }


    .why-us-wrapper {
        width: 940px;
        min-height: 465px;

    }

    .why-us p:last-of-type {
        margin-right: 456px;
    }

    .result-partner-wrapper {
        width: 940px;
    }


    .partner-info-wrapper {
        width: 940px;
        /* min-height: 371px; */
    }

    .brand-img {
        min-height: 126px;
    }

    .contact-wrapper {
        width: 940px;
        min-height: 666px;
    }

    .footer-wrapper {
        width: 940px;
        min-height: 99px;
    }
}


/* tablet */
@media (min-width: 768px) and (max-width: 991px) {


    .online-training .wrapper,
    .wrapper-3 {
        width: calc(((100% - 720px) / 2) + 720px);
        max-height: 360px;
        min-height: initial;
    }

    .online-training,
    .text,
    .image-wrapper {
        max-height: 360px;
        min-height: initial;
    }

    .online-training .text,
    .online-training .image-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .text h3 {
        font-size: 1.25rem;
    }

    .image-wrapper a {
        right: 40px;
    }


    .choose-us .wrapper-2 {
        width: 720px;
        /* min-height: 1190px; */
    }

    .choose-us .card-item {
        margin-bottom: 13px;
        flex-basis: 49%;
    }


    .wrapper-3 {
        max-height: initial;
    }

    .life-description {
        flex: 0 0 46.666666666%;
        max-width: 46.666666666%;
    }

    .life-image {
        flex: 0 0 53.333333333%;
        max-width: 53.333333333%;
    }



    .life-is-good,
    .life-description,
    .life-image {
        /* max-height: 467.77px; */
        min-height: 210px;
    }

    .life-description h1 {
        margin-top: 0px;
    }

    .life-description h5 {
        line-height: 1.4;
        font-size: 1.25rem;
    }

    .life-description p {
        margin-right: 0;
    }

    .why-us {
        background-size: 140%;
    }

    .why-us-wrapper {
        width: 720px;
        min-height: 356px;
        max-height: 447.19px;

    }

    .why-us p:last-of-type {
        margin-right: 236px;
    }

    .result-partner {
        min-height: 550px;
    }


    .result-partner-wrapper {
        width: 720px;
    }


    .partner-info-wrapper {
        width: 720px;
        /* min-height: 371px; */
    }

    .brand-container {
        display: flex;
        flex-wrap: wrap;
    }

    .brand-img {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        min-height: 161px;
    }

    .brand-img:nth-last-child(1),
    .brand-img:nth-last-child(2) {
        min-height: 241px;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .contact-wrapper {
        width: 720px;
        min-height: 666px;
    }

    .contact-wrapper h1 {
        font-size: 9.375rem;
    }

    .contact-wrapper>h2 {
        margin-top: -108px;
    }

    .contact-box {
        margin-top: 35px;
    }


    .footer-wrapper {
        width: 720px;
        min-height: 99px;
    }
}


/* phone horizontal */
@media (min-width: 576px) and (max-width: 767px) {

    .online-training .wrapper,
    .wrapper-3 {
        width: calc(((100% - 540px) / 2) + 540px);
        max-height: initial;
        min-height: 516px;
    }

    .online-training {
        height: auto;
    }

    /* .online-training,
    .text,
    .image-wrapper {
        max-height: 360px;
        min-height: initial;
    } */

    .online-training .wrapper {
        flex-direction: column;
    }

    .online-training .text,
    .online-training .image-wrapper {
        flex: 0 0 50%;
        max-width: 100%;
    }

    .online-training .text {
        min-height: 414px;
        padding-left: 10px;
    }

    .online-training .image-wrapper {
        min-height: 540px;
    }

    .text h3 {
        font-size: 1.25rem;
    }

    .text .fa-bars {
        display: block;
        position: absolute;
        top: 22px;
        right: 80px;
        font-size: 2rem;
        color: rgb(153, 153, 153);
        cursor: pointer;
    }


    .text .fa-bars:hover {
        color: #4d4d4d;
    }

    .image-wrapper a {
        display: none;
    }


    .choose-us .wrapper-2 {
        width: 540px;
        /* min-height: 1190px; */
    }

    .choose-us .card-item {
        margin-bottom: 13px;
        flex-basis: 100%;
    }


    .life-is-good .wrapper-3 {
        max-height: initial;
        min-height: 499px;
        width: 590px;
        margin-right: auto;
        flex-direction: column;
    }

    .life-description .read-more {
        margin-left: auto;
        margin-right: auto;
    }

    .life-description {
        flex: 0 0 46.666666666%;
        max-width: 100%;
        text-align: center;
    }

    .life-image {
        flex: 0 0 53.333333333%;
        max-width: 100%;
        max-height: 532px;
    }

    .life-image img {
        width: 100%;
    }



    .life-is-good,
    .life-description,
    .life-image {
        /* max-height: 467.77px; */
        min-height: 210px;
    }

    .life-is-good {
        height: auto;
    }

    .life-description h1 {
        margin-top: 0px;
    }

    .life-description h5 {
        line-height: 1.4;
        font-size: 1.25rem;
    }

    .life-description p {
        margin-right: 0;
    }

    .why-us {
        background-size: 140%;
    }

    .why-us-wrapper {
        width: 540px;
        min-height: 356px;
        max-height: 447.19px;

    }

    .why-us p:last-of-type {
        margin-right: 56px;
    }

    .result-partner {
        min-height: 550px;
    }


    .result-partner-wrapper {
        width: 540px;
        flex-direction: column;
    }

    .result-text {
        padding: 30px 10px;
        max-width: 100%;
    }

    .result-image {
        max-width: 100%;
        min-height: 617px;
    }


    .partner-info-wrapper {
        width: 540px;
        /* min-height: 371px; */
    }

    .brand-container {
        display: flex;
        flex-wrap: wrap;
    }

    .brand-img {
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 362px;
    }


    .contact-wrapper {
        width: 540px;
        min-height: 666px;
    }

    .contact-wrapper h1 {
        font-size: 6.25rem;
        margin-top: 48px;
    }

    .contact-wrapper>h2 {
        margin-top: -88px;
    }

    .contact-box {
        margin-top: 35px;
        display: flex;
        flex-direction: column;

    }

    .company-info,
    .fill-form {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 30px 10px;
    }


    .footer-wrapper {
        width: 540px;
        min-height: 99px;
    }
}

/* phone vertical */
@media (max-width: 575px) {

    .online-training .wrapper,
    .wrapper-3 {
        width: calc(((100% - 340px) / 2) + 340px);
        max-height: initial;
        min-height: 516px;
    }

    .online-training {
        height: auto;
    }

    /* .online-training,
    .text,
    .image-wrapper {
        max-height: 360px;
        min-height: initial;
    } */

    .online-training .wrapper {
        flex-direction: column;
    }

    .online-training .text,
    .online-training .image-wrapper {
        flex: 0 0 50%;
        max-width: 100%;
    }

    .online-training .text {
        min-height: 414px;
        padding-left: 10px;
    }

    .online-training .image-wrapper {
        min-height: 340px;
    }

    .text h3 {
        font-size: 1.25rem;
    }

    .text .fa-bars {
        display: block;
        position: absolute;
        top: 22px;
        right: 30px;
        font-size: 2rem;
        color: rgb(153, 153, 153);
        cursor: pointer;
    }

    .text .fa-bars:hover {
        color: #4d4d4d;
    }

    .image-wrapper a {
        display: none;
    }


    .choose-us .wrapper-2 {
        width: 340px;
        /* min-height: 1190px; */
    }

    .choose-us .wrapper-2>h2 {
        font-size: 2.25rem;
        margin-top: 38px;
    }

    .choose-us .wrapper-2>p {
        line-height: 1.6;
    }

    .choose-us .card-item {
        margin-bottom: 13px;
        flex-basis: 100%;
        min-height: 212px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-item>h1 {
        font-size: 6rem;
    }

    .card-item>h3 {
        position: relative;
        top: 30px;
    }


    .life-is-good .wrapper-3 {
        max-height: initial;
        min-height: 499px;
        width: 340px;
        margin-right: auto;
        flex-direction: column;
    }

    .life-description .read-more {
        margin-left: auto;
        margin-right: auto;
    }

    .life-description {
        flex: 0 0 46.666666666%;
        max-width: 100%;
        text-align: center;
        padding: 30px 10px;
    }

    .life-image {
        flex: 0 0 53.333333333%;
        max-width: 100%;
        max-height: 532px;
    }

    .life-image img {
        width: 100%;
    }



    .life-is-good,
    .life-description,
    .life-image {
        /* max-height: 467.77px; */
        min-height: 210px;
    }

    .life-is-good {
        height: auto;
    }

    .life-description h1 {
        margin-top: 0px;
        font-size: 2.25rem;
    }

    .life-description h5 {
        line-height: 1.4;
        font-size: 1.25rem;
    }

    .life-description p {
        margin-right: 0;
    }

    .why-us {
        background-size: auto 140%;
    }

    .why-us-wrapper {
        width: 340px;
        min-height: 530px;
        max-height: 447.19px;
        text-align: center;
    }

    .why-us h2 {
        font-size: 2.25rem;
    }

    .why-us p:last-of-type {
        margin-right: 0;
    }

    .result-partner {
        min-height: 550px;
    }


    .result-partner-wrapper {
        width: 340px;
        flex-direction: column;
    }

    .result-text {
        padding: 30px 10px;
        max-width: 100%;
    }

    .result-text>h2,
    .result-text>p:first-of-type {
        text-align: center;
    }

    .result-text>h2 {
        font-size: 2.25rem;
        margin-top: 0;
    }

    .result-image {
        max-width: 100%;
        min-height: 388px;
    }

    .partner-info-wrapper {
        width: 340px;
        margin-top: 100px;
        /* min-height: 371px; */
    }

    .partner-info-wrapper>h2 {
        font-size: 2.25rem;
    }

    .partner-info-wrapper>p {
        width: 340px;
    }

    .brand-container {
        display: flex;
        flex-wrap: wrap;
    }

    .brand-img {
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 228px;
    }


    .contact-wrapper {
        width: 340px;
        min-height: 666px;
    }

    .contact-wrapper h1 {
        font-size: 4.5rem;
        margin-top: 43px;
    }

    .contact-wrapper>h2 {
        font-size: 2.25rem;
        margin-top: -60px;
    }

    .contact-box {
        margin-top: 35px;
        display: flex;
        flex-direction: column;

    }

    .company-info {
        text-align: center;
    }

    .company-info>h2 {
        margin-right: initial;
    }

    .company-info,
    .fill-form {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 30px 20px;
    }


    .footer-wrapper {
        width: 340px;
        min-height: 36px;
    }

    .footer-wrapper p {
        width: 340px;
    }

    .web-credit {
        text-align: center;
    }
}



@media (max-width: 991px) {
    .nav-container {
        display: block;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
        /* transition: all 0.5s; */
        z-index: 50;
        position: fixed;
        top: 0;
        left: 0;
    }

    .nav-container.active {
        transform: translateX(0);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .side-nav {
        height: 100%;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.95);
        position: absolute;
        z-index: 100;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .side-nav.active {
        transform: translateX(0%);
    }



    /* .side-nav.fade {
        transform: translateX(-100%);
        transition: all 0.5s;
    } */

    .menu-close {
        font-size: 40px;
        font-weight: 400;
        color: white;
        text-align: right;
        padding: 15px;
        cursor: pointer;
    }

    .side-nav ul li {
        width: 100%;
        text-align: center;
        list-style-type: none;
    }

    .side-nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.25rem;
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
    }

    .side-nav ul li a:hover,
    .menu-close i:hover {
        color: #a1a1a1;
    }
}

