@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;0,800;0,900;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,800;1,900&family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Roboto", "Arial","sans-serif";
}

.online-training {
    background: url(./img/PA7BIF1x.jpg);
    background-position: 50% 50%;
    min-height: 607px;
    height: 607px;
}

.online-training .wrapper {
    width: calc(((100% - 1140px) / 2) + 1140px);
    height: 100%;
    margin: 0 0 0 auto;
    /* border: 1px black solid; */
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}
.text {
    position: relative;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h3 {
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 36px;
}

.text h1 {
    text-transform: uppercase;
    font-weight: 700;;
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    line-height: 1.1;
}

.text p {
    margin: 24px auto 0 0;
    font-family: 'Open Sans', sans-serif;
}

.text p a {
    color:#391440;
}

.text a#logo {
    position: absolute;
    top: 22px;
    left: 0;
    
}

.text a img {
    max-width: 64px;
    max-height: 64px;
}

.img {
    position: relative;
}

.img img{
    max-width: 100%;
    height: 100%;
}

.img a {
    color: #999999;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 21px;
    right: 118px;
    line-height: 16px;

}

.img a:hover {
    color: #4d4d4d;
}

