@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;0,800;0,900;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    font-family: "Roboto", "sans-serif";
    /* overflow-x: hidden; */
    --main-container-width: 1140px;
    --open-sans: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald, sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #42434b;
}

/* a:active {
    color: initial;
} */

.main-wrapper {
    width: var(--main-container-width);
    margin: auto;
}


header .main-wrapper {
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

header a h3 {
    font-family: Oswald, sans-serif;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #fe7ec9;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu-item {
    margin-right: 25px;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(66, 67, 75);
    font-size: 1rem;
    font-weight: 600;
}

.hamburger-menu {
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
}

.landing-page .main-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;

}

.landing-page-intro {
    min-height: 670px;
    flex: 0 0 50%;
    max-width: 50%;

    padding: 0 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.landing-page-intro h2 {
    font-size: 4.5rem;
    color: #488df4;
    margin: 65px 30px 0;
    line-height: 1.2;
}

.landing-page-intro h3 {
    font-size: 1.875rem;
    color: rgb(66, 67, 75);
    font-weight: 700;
    margin: 20px 30px 65px;

}


.landing-page-image {
    background: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/1928ac4fdeea5ee28a624ce0/firstdayofschoolbacktoschoolphotoideasphotographyhowtotakegreatpictures13.jpg);
    min-height: 670px;
    flex: 0 0 50%;
    max-width: 50%;
}

.activities {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.activity-container {
    min-height: 340px;
    flex: 0 0 25%;
    min-width: 25%;
    background-color: #38c4c1;
}

.activity-container:nth-of-type(2) {
    background-color: #feca02
}

.activity-container:nth-of-type(3) {
    background-color: #fe7ec9;
}


.activity-container:nth-of-type(4) {
    background-color: #488df4;
}


.activity-icon {
    height: 86px;
    width: 86px;
    margin: 85px auto 0;
}

.activity-icon img {
    fill: white;
}

.activity-content {
    margin: 20px auto 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.2;
    color: #fff;
}

.treat-kids {
    background-color: #f2f2f2;
}

.treat-kids .main-wrapper {
    min-height: 492px;
    padding: 60px 105px 49px;
    text-align: center;
}

.treat-kids h1 {
    margin: 75px 60px 0;
    font-size: 3.75rem;
    line-height: 1.1;
    font-weight: 700;
    color: #488df4;
    word-wrap: break-word;
}

.treat-kids .black-line {
    width: 67px;
    height: 3px;
    margin: 30px auto 0;
    border: 3px solid #000;
    /* transform-origin: right center; */
}

.treat-kids p {
    font-size: 1.25rem;
    margin: 35px 60px;
    text-align: center;
    color: #42434b;
    line-height: 1.7;

}

.about-us .main-wrapper {
    min-height: 995px;
    position: relative;
}

.about-us .intro {
    width: 855px;
    min-height: 185px;
    margin: 26px auto 0;
    text-align: center;
    padding-top: 59px;
}

.intro h4 {
    /* margin: 59px 0 0; */
    color: #808080;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.intro h2 {
    font-size: 3rem;
    text-transform: capitalize;
    margin: 13px 0 20px;
    color: rgb(66, 67, 75);
    line-height: 1.2;
}

.about-us .card-container {
    margin: 25px 0 60px 0;
    display: flex;
    flex-direction: row;
}

.about-us .image-container {
    padding: 10px;
    min-height: 719px;
    flex: 0 0 50%;
    max-width: 50%;
}

.about-us .image-container .image {
    background-image: url(./img/large-image.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.about-us .right-content {
    padding: 10px;
    min-height: 719px;
    flex: 0 0 50%;
    max-width: 50%;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-content .description {
    flex: 0 0 calc(50% - 10px);
    max-height: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
}

.description .teacher {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
}

.teacher,
.mission {
    background-color: #ebfcfc;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.mission {
    background-color: #fff2fa;
}

/* start global  */
.svg-icon {
    background-color: #38c4c1;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin: 32px 0 0 auto;
    padding: 14px;
}

.svg-icon img {
    width: 100%;
    height: 100%;
}

.description h4 {
    margin: 30px 0 0 auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 300;
    color: #808080;
}


.description p {
    font-size: .875rem;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.7;
    font-style: italic;
    color: #42434b;
}

.description a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 0 auto auto;
    font-family: 'Open Sans', sans-serif;
    color: rgb(56, 196, 193);
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
}

.description a:hover {
    color: #32b0ae;
}

/* end global  */

.mission .svg-icon {
    background-color: #fe7ec9;
}

.mission a {
    color: #fe7ec9;
}

.mission a:hover {
    color: #fe58b9;
}



.description .mission {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
}



.right-content .illustrative-images {
    flex: 0 0 calc(50% - 10px);
    max-height: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
}

.illustrative-images .girl-image {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);

    background-image: url(./img/girl-image.jpg);
}

.illustrative-images .boy-image {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);

    background-image: url(./img/boy-image.jpg);
}

.illustrative-images .girl-image,
.illustrative-images .boy-image {
    background-size: cover;
    background-position: 50% 50%;
}

.key-features {
    background-color: #feca02;
    color: #42434b;
}

.key-features .main-wrapper {
    min-height: 615px;
    padding-top: 65px;
}

.features-services {
    display: block;
    margin: 0 auto;
    width: var(--main-container-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 133px;
}

.features-services h4 {
    margin-top: 9px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.2;

}

.features-services h2 {
    margin: 12px 0 9px 0;
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
}

.feature-card-container {
    --gap: 30px;
    --columns: 4;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.feature-card {
    min-height: 317px;
    width: calc(calc(100% - calc((var(--columns) - 1) * var(--gap))) / var(--columns));
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.feature-card .feature-icon {
    height: 64px;
    width: 64px;
    margin: 30px auto 0;
}

.feature-card h5 {
    margin: 31px auto 0;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fe7ec9;
    line-height: 1.2;
}

.feature-card:nth-of-type(2) h5 {
    color: #488df4;
}

.feature-card:nth-of-type(3) h5 {
    color: #38c4c1;
}

.feature-card:nth-of-type(4) h5 {
    color: #feca02;
}


.feature-card p {
    margin: 30px 10px;
    color: #454545;
    font-style: italic;
    line-height: 1.7;
    text-align: center;

}

.enrollment {
    background-color: #f2f2f2;
}

.enrollment .main-wrapper {
    min-height: 425px;
}

.enrollment h1 {
    margin: 79px auto 0;
    padding-left: 20px;
    display: inline-block;
    color: #42434b;
    width: 100%;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.1;
}

.enrollment .para-container {
    margin-top: 18px;
    margin-bottom: 34px;
    display: flex;
}

.para-container p {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px 40px 20px 20px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.7;
    word-wrap: break-word;
}

.innovative-teaching {
    background-color: #fe7ec9;
    padding: 70px 0;
}

.innovative-teaching .main-wrapper {
    --innovative-gap: 10px;
    --innovative-columns: 3;
    min-height: 478px;
    display: flex;
    flex-flow: row wrap;
    gap: var(--innovative-gap)
}

.innovative-teaching .main-wrapper>div {
    width: calc(calc(100% - calc((var(--innovative-columns) - 1) * var(--innovative-gap))) / var(--innovative-columns));
}

.innovative-girl-image {
    background-image: url(./img/innovative-girl.jpg);
    background-position: 0% 0%;
    background-size: cover;
}

.innovative-boy-image {
    background-image: url(./img/innovative-boy.jpg);
    background-position: 0% 0%;
    background-size: cover;
}

.innovative-description {
    padding: 0 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.innovative-description h3 {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
    color: #42434b;
}

.innovative-description p {
    margin-top: 20px;
    font-size: 1.125rem;
    line-height: 1.7;
    font-weight: 400;
}

.preschool.main-wrapper {
    min-height: 937px;

}

.intro-preschool {
    margin: 50px auto 10px;
    padding: 10px 0;
    width: 500px;
    text-align: center;
}

.intro-preschool h4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #808080;
}

.intro-preschool h2 {
    margin: 13px 0;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: #42434b;
    text-transform: capitalize;
}

.preschool-flex-container {
    --preschool-gap: 24px;
    --preschool-columms: 3;
    min-height: 550px;
    width: 100%;
    margin: 90px 0 130px 0;
    display: flex;
    flex-flow: row wrap;
    gap: var(--preschool-gap)
}

.preschool-flex-container>div {
    width: calc(calc(100% - calc((var(--preschool-columms) - 1) * var(--preschool-gap))) / var(--preschool-columns));
    flex: 1;
    /* width: 33%; */

}


.middle-image {
    background-image: url(./img/middle-image.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-paras,
.second-paras {
    padding-right: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.second-paras {
    padding-right: 0;
    padding-left: 20px;
    text-align: left;
}

.para h5 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: #42434b;
}

.para p {
    color: #42434b;
    word-wrap: break-word;
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.7;
}

.facility {
    background-color: #38c4c1;
}

.facility .main-wrapper {
    min-height: 907px;
}

.intro-facility {
    color: #fff;
    margin: 100px auto 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.intro-facility h4 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1px;
}

.intro-facility h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 13px;
}

.facility-flex-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.facility-image {
    flex: 1 1 50%;
    max-width: 50%;
    min-height: 599px;
    background-image: url(./img/facility-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 7.08%;

}

.facility-content {
    flex: 1 1 50%;
    max-width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
}

.facility-content h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: #42434b;
}

.facility-content p {
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.7;
    color: #42434b;
}

.facility-content a {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fe7ec9;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 2px;
}

.facility-content a:hover {
    color: #fe58b9;
}

.contact .main-wrapper {
    min-height: 355px;
    display: flex;
}

.contact .main-wrapper>div {
    width: 33.3333%;
}

.address,
.phone,
.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-icon {
    height: 65px;
    width: 65px;
    margin: 25px auto 0;
    padding: 12px;
    border-radius: 50%;
    color: white;
    background-color: #fe7ec9;
}

.phone .contact-icon {
    background-color: #feca02;
}

.email .contact-icon {
    background-color: #38c4c1;
}

.contact-icon img {
    width: 100%;
    height: 100%;
}

.contact .main-wrapper h6 {
    margin: 32px 30px 25px;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #42434b;
    text-align: center;
}


.samples {
    background-color: #fe7ec9;
}

.samples .main-wrapper {
    min-height: 309px;
    padding-top: 105px;
}

.samples .headline-container {
    display: flex;
    width: 100%;
}

.headline {
    width: 100%;
    padding-top: 25px;
    color: #fff;
}

.headline h6 {
    font-size: 0.875rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.headline p {
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;

}

.samples .social {
    margin: 70px auto auto;
    color: #fff;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon a {
    color: #fff;
}

.web-credit {
    background-color: #333;
    min-height: 102.59px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.web-credit p {
    font-size: 0.8rem;
    color: #fff;
    text-align: center;

}

.web-credit p a {
    text-decoration: underline;
    color: #feb8e1;
}

.web-credit p a:hover {
    text-decoration: none;
    color: #a1a1a1;
}



/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        --main-container-width: 940px
    }

    .menu-item a {
        font-weight: 400;
    }

    .landing-page-intro,
    .landing-page-image {
        min-height: initial;
    }

    .landing-page .main-wrapper {
        margin-top: 0;
        margin-bottom: 0;
        height: 500.39px;
    }

    .landing-page-image {
        background-position: 50% 50%;
        background-size: cover;
    }

    .landing-page-intro h2 {
        margin-top: 65px;
        font-size: 2.25rem;
        margin-right: 0;
        margin-left: 0;
    }

    .landing-page-intro h3 {
        margin-top: 20px;
    }

    .activity-container {
        min-height: 291px;
    }

    .treat-kids .main-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .treat-kids h1 {
        margin-top: 58px;
    }

    .treat-kids .black-line {
        width: 55px;
    }

    .treat-kids p {
        font-size: 1.125rem;
        margin-top: 20px;
        margin-bottom: 25px;
        font-weight: 400;
        line-height: 1.7;
    }

    .intro h2 {
        margin-top: 11px;
        font-weight: 700;
        line-height: 1.2;
        font-size: 2.25rem;
    }

    .about-us .image-container,
    .about-us .right-content {
        min-height: initial;
        height: 663px;
    }

    .about-us .card-container {
        margin-top: 10px;
    }

    .teacher,
    .mission {
        padding: 0 16px;
    }

    .svg-icon {
        height: 60px;
        width: 60px;
        margin-top: 28px;
    }

    .description h4 {
        margin-top: 29px;
    }

    .description p {
        text-align: right;
    }

    .description a {
        margin-top: 14px;
    }

    .about-us .main-wrapper {
        min-height: 926px;
    }

    .key-features .main-wrapper {
        min-height: 662px;
    }

    .feature-card-container {
        margin-top: 44px;
    }

    .feature-card .feature-icon {
        height: 53px;
        width: 53px;
    }

    .feature-card p {
        margin: 31px 13px 30px;
    }

    .enrollment .main-wrapper {
        min-height: 450px;
    }

    .innovative-teaching .main-wrapper {
        --innovative-gap: 10px;
        min-height: 539.13px;
    }

    .innovative-girl-image {
        background-position: 50% 50%;
    }

    .innovative-boy-image {
        background-position: 50% 50%;
    }

    .innovative-description {
        padding: 0 25px;
    }

    .preschool-flex-container {
        margin: 70px 0 183px;
    }

    .facility-image {
        min-height: 565px;
    }

    .contact-icon {
        height: 54px;
        width: 54px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        --main-container-width: 720px;
    }

    .activity-container {
        flex: 0 0 50%;
        min-width: 50%;
    }

    .menu-item a {
        font-weight: 400;
    }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .landing-page-intro,
    .landing-page-image {
        min-height: initial;
    }

    .landing-page .main-wrapper {
        margin-top: 0;
        margin-bottom: 0;
        height: 332px;
    }

    .landing-page-image {
        background-position: 50% 50%;
        background-size: cover;
    }

    .landing-page-intro h2 {
        margin-top: 100px;
        font-size: 2.25rem;
        line-height: 1.2;
        margin-right: 0;
        margin-left: 0;
    }

    .landing-page-intro h3 {
        margin: 60px 0 40px;;
    }

    .activity-container {
        min-height: 291px;
    }

    .treat-kids .main-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .treat-kids h1 {
        margin-top: 58px;
        font-size: 3rem;
        margin: 75px 0px 0;
    }

    .treat-kids .black-line {
        width: 42px;
    }

    .treat-kids p {
        font-size: 1.125rem;
        margin: 35px 38px;
        font-weight: 400;
        line-height: 1.7;
    }

    .intro h2 {
        margin-top: 11px;
        font-weight: 700;
        line-height: 1.2;
        font-size: 2.25rem;
    }

    .about-us .intro {
        width: 720px;
    }

    .about-us .image-container,
    .about-us .right-content {
        min-height: initial;
        height: 663px;
    }

    .about-us .card-container {
        margin-top: 10px;
    }

    .teacher,
    .mission {
        padding: 0 16px;
    }

    .svg-icon {
        height: 60px;
        width: 60px;
        margin: 68px auto 0;
    }

    .description h4 {
        margin: 29px auto 0;
    }

    .description p {
        text-align: center;
    }

    .description a {
        margin: 30px auto 0;
    }

    .about-us .main-wrapper {
        min-height: 1860px;
    }

    .about-us .card-container {
        display: block;
    }

    .about-us .image-container, .about-us .right-content {
        max-width: 100%;
        height: 798px;
        padding: 10px 0;
    }

    .right-content .description {
        text-align: center;
    }

    .key-features .main-wrapper {
        min-height: 1114px;
        
    }

    .feature-card-container {
        margin-top: 44px;
        --columns: 2;
    }

    .feature-card {
        min-height: 372px;
    }

    .feature-card .feature-icon {
        height: 53px;
        width: 53px;
    }

    .feature-card p {
        margin: 31px 13px 30px;
    }

    .enrollment .main-wrapper {
        min-height: 580px;
    }

    .innovative-teaching .main-wrapper {
        --innovative-gap: 10px;
        min-height: 697.5px;
    }

    .innovative-girl-image {
        background-position: 50% 50%;
    }

    .innovative-boy-image {
        background-position: 50% 50%;
    }

    .innovative-description {
        padding: 0 19px;
    }

    .intro-preschool {
        width: 300px;
    }

    .preschool-flex-container {
        margin: 0px 0 113px;
        --preschool-gap: 14px;
    }

    .preschool-flex-container>div {
        max-width: 49%;
        min-height: 560px;
        flex: 1 0 50%;
    }

    .preschool-flex-container .second-paras {
        min-height: 500px;
        margin: 100px 0;
        flex: 1 0 100%;
        max-width: 100%;
        align-items: flex-start;
        padding-left: 13px;
    }

    .facility-image {
        min-height: 565px;
    }

    .contact .main-wrapper {
        min-height: 269px;
    }

    .contact-icon {
        height: 54px;
        width: 54px;
    }

    .samples .main-wrapper {
        min-height: 262px;
        padding-top: 65px;
    }
}


/* phone horizontal */
@media (min-width: 576px) and (max-width: 767px) {
    body {
        --main-container-width: 540px;
    }


    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .landing-page .main-wrapper {
        flex-direction: column;
        margin-bottom: 0;
    }

    .landing-page-intro {
        max-width: 100%;
        min-height: 459px;
        background-position: 50% 50%;
        background-size: cover;
        padding: 0 29px;
    }

    .landing-page-image {
        max-width: 100%;
        min-height: 461px;
    }

    .landing-page-intro h2 {
        font-size: 2.25rem;
    }

    .landing-page-intro h3 {
        margin-top: 50px;
    }

    .activity-container {
        min-width: 100%;
        min-height: 291px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activity-icon {
        height: 75px;
        width: 75px;
        margin: 0 auto;
    }

    .activity-content {
        margin: 22px auto 30px;
    }
    .treat-kids .main-wrapper {
        padding: 0 28px;
        margin-bottom: 30px;
        min-height: 512px;
    }
    .treat-kids h1 {
        display: inline-block;
        margin: 90px 0 0;
        font-size: 3rem;
    }
    .treat-kids .black-line {
        width: 39px;
    }

    .treat-kids p {
        margin: 20px 0 25px;
        font-size: 1.125rem;
    }

    .about-us .main-wrapper {
        min-height: 1860px;
    }

    .about-us .intro {
        width: 100%;
        padding-top: 100px;
    }

    .intro h2 {
        margin: 11px 0 10px;
        font-size: 2.25rem;
    }

    .about-us .card-container {
        display: block;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .about-us .image-container, .about-us .right-content {
        max-width: 100%;
        padding: 10px 0;
    }

    .about-us .image-container {
        height: 674px;
    }

    .about-us .right-content {
        height: 1416px;
    }

    .right-content .description {
        text-align: center;
        flex-direction: column;
    }
    .description .teacher,
    .description .mission {
        max-width: 100%
    }

    .svg-icon {
        width: 64px;
        height: 64px;
        margin: 48px auto 0;
    }

    .description h4 {
        margin: 33px auto 0;
    }

    .description a {
        margin: 20px auto 28px;
    }

    .right-content .illustrative-images {
        flex-direction: column;
    }

    .illustrative-images .girl-image, 
    .illustrative-images .boy-image {
        max-width: 100%;
    }

    .key-features .main-wrapper {
        min-height: 1645px;
    }
    
    .feature-card-container {
        --columns: 1;
    }

    .feature-card .feature-icon {
        height: 65px;
        width: 65px;
        margin-top: 10px;
    }

    .feature-card h5 {
        font-size: 1.5rem;
    }

    .feature-card p {
        font-size: 1.125rem;
    }

    .enrollment .main-wrapper {
        min-height: 655px;
    }

    .enrollment .para-container {
        flex-direction: column;
    }

    .para-container p {
        max-width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }

    .para-container p:last-child {
        padding-left: 20px;
    }

    .innovative-teaching .main-wrapper {
        --innovative-columns: 1;
    }

    .innovative-girl-image,
    .innovative-boy-image {
        height: 256px;
        background-position: 50% 50%;
    }

    .innovative-description {
        height: 386.16px;
        padding: 0 14px;
    }

    .intro-preschool {
        width: 300px;
    }

    .preschool-flex-container {
        margin: 0;
        --preschool-gap: 14px;
    }

    .preschool-flex-container>div {
        max-width: 100%;
        min-height: 560px;
        flex: 1 0 50%;
    }

    .preschool-flex-container .first-paras,
    .preschool-flex-container .second-paras {
        min-height: 500px;
        margin: 100px 0;
        flex: 1 0 100%;
        align-items: flex-start;
        padding: 0;
    }

    .preschool-flex-container .second-paras {
        margin-bottom: 50px;
    }

    .para p {
        text-align: left;
    }


    .facility .main-wrapper {
        min-height: 1300px;
    }

    .facility-flex-container {
        flex-direction: column;
    }

    .facility-image {
        max-width: 100%;
        min-height: 461px;
        background-position: 50% 50%;
    }

    .facility-content {
        max-width: 100%;
        min-height: 530px;
        padding: 0 28px;
    }
    .contact .main-wrapper {
        flex-wrap: wrap;
    }
    .contact .main-wrapper>div {
        width: 100%;
        min-height: 259px;
    }

    .contact-icon {
        width: 56px;
        height: 56px;
    }

    .samples .main-wrapper {
        padding-top: 50px;
        min-height: 501px;
    }

    .samples .headline-container {
        flex-direction: column;
        min-height: 350px;
    }

    .headline {
        text-align: center;
        flex: 1;
    }

    .samples .social {
        margin-top: 30px;
    }
}















/* phone vertical */
@media (max-width: 576px) {
    body {
        --main-container-width: 340px;
    }

    header .main-wrapper {
        flex-direction: column;
    }

    header a h3 {
        margin-top: 15px;
    }


    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .landing-page .main-wrapper {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 0;
    }

    .landing-page-intro {
        max-width: 100%;
        min-height: 300px;
        background-position: 50% 50%;
        background-size: cover;
        padding: 0 10px;
    }

    .landing-page-image {
        max-width: 100%;
        min-height: 300px;
        background-position: 50% 50%;
        background-size: cover;
    }

    .landing-page-intro h2 {
        font-size: 2.25rem;
        margin: 62px 0 0;
    }

    .landing-page-intro h3 {
        margin-top: 50px;
        margin: 25px 0 5px 0;
    }

    .activity-container {
        min-width: 100%;
        min-height: 291px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activity-icon {
        height: 75px;
        width: 75px;
        margin: 0 auto;
    }

    .activity-content {
        margin: 22px auto 30px;
    }
    .treat-kids .main-wrapper {
        padding: 0 18px;
        margin-bottom: 30px;
        min-height: 612px;
    }
    .treat-kids h1 {
        display: inline-block;
        margin: 86px 0 0;
        font-size: 2.25rem;
    }
    .treat-kids .black-line {
        width: 33px;
    }

    .treat-kids p {
        margin: 20px 0 25px;
        font-size: 1.125rem;
    }

    .about-us .main-wrapper {
        min-height: 2250px;
    }

    .about-us .intro {
        width: 100%;
        padding-top: 40px;
    }

    .intro h2 {
        margin: 11px 0 10px;
        font-size: 2.25rem;
    }

    .about-us .card-container {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-us .image-container, .about-us .right-content {
        max-width: 100%;
        padding: 10px 0;
    }

    .about-us .image-container {
        height: 563px;
        min-height: 563px;
    }

    .about-us .right-content {
        height: 1416px;
    }

    .right-content .description {
        text-align: center;
        flex-direction: column;
    }
    .description .teacher,
    .description .mission {
        max-width: 100%;
        padding: 0;
    }

    .svg-icon {
        width: 64px;
        height: 64px;
        margin: 48px auto 0;
    }

    .description h4 {
        margin: 33px auto 0;
    }

    .description a {
        margin: 20px auto 28px;
    }

    .right-content .illustrative-images {
        flex-direction: column;
    }

    .illustrative-images .girl-image, 
    .illustrative-images .boy-image {
        max-width: 100%;
    }

    .key-features .main-wrapper {
        min-height: 1645px;
    }
    
    .feature-card-container {
        --columns: 1;
    }

    .feature-card .feature-icon {
        height: 65px;
        width: 65px;
        margin-top: 10px;
    }

    .feature-card h5 {
        font-size: 1.5rem;
    }

    .feature-card p {
        font-size: 1.125rem;
    }

    .enrollment .main-wrapper {
        min-height: 1003px;
    }

    .enrollment .para-container {
        flex-direction: column;
        margin-top: 50px;
    }

    .para-container p {
        max-width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }

    .para-container p:last-child {
        padding-left: 20px;
    }

    .innovative-teaching .main-wrapper {
        --innovative-columns: 1;
        --innovative-gap: 10px;
    }

    .innovative-girl-image,
    .innovative-boy-image {
        height: 256px;
        background-position: 50% 50%;
    }

    .innovative-description {
        height: 488px;
        padding: 0 14px;
    }

    .intro-preschool {
        width: 300px;
    }

    .preschool-flex-container {
        margin: 0;
        --preschool-gap: 14px;
    }

    .preschool-flex-container>div {
        max-width: 100%;
        min-height: 560px;
        flex: 1 0 50%;
    }

    .preschool-flex-container .first-paras,
    .preschool-flex-container .second-paras {
        min-height: 500px;
        margin: 100px 0;
        flex: 1 0 100%;
        align-items: flex-start;
        padding: 0;
    }

    .preschool-flex-container .second-paras {
        margin-bottom: 50px;
    }

    .para p {
        text-align: left;
    }


    .facility .main-wrapper {
        min-height: 1210px;
    }

    .intro-facility {
        margin-top: 80px;
    }

    .facility-flex-container {
        flex-direction: column;
    }

    .facility-image {
        max-width: 100%;
        min-height: 300px;
        background-position: 50% 50%;
    }

    .facility-content {
        max-width: 100%;
        min-height: 584.5px;
        padding: 0 28px;
    }

    .facility-content h2 {
        margin-top: 110px;
    }
    .contact .main-wrapper {
        flex-wrap: wrap;
    }
    .contact .main-wrapper>div {
        width: 100%;
        min-height: 259px;
    }

    .contact-icon {
        width: 56px;
        height: 56px;
    }

    .samples .main-wrapper {
        padding-top: 50px;
        min-height: 501px;
    }

    .samples .headline-container {
        flex-direction: column;
        min-height: 350px;
    }

    .headline {
        text-align: center;
        flex: 1;
    }

    .samples .social {
        margin-top: 30px;
    }
}
