:root {
    --my-transition: all 0.5s 0.2s;
}

body {
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 320px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.flex-box {
    display: flex;
    justify-content: space-between  ;
}

.image {
    height: 180px;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;  
    transition: var(--my-transition)
}

.card:hover img{
    transform: rotate(360deg) scale(1.5)
}

.content {
    padding: 20px;
    transform: translateY(200px);
    transition: var(--my-transition)
}

.card:hover .content{
    transform: translateY(0) rotate(-360deg)
}

.content h2 {
    font-size: 19px;
    font-weight: 600;
    color: #464646;
}

.content p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

.content p span {
    color: #ffd600;
}

