body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: rgb(230, 132, 115);
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart {
    font-size: 200px;
    color: white;
    animation: zoom 1.2s infinite;
    z-index: 1;
}

@keyframes zoom {
    0% {
        font-size: 200px;
    }

    /* 10% {
        font-size: 200px;
    } */

    50% {
        font-size: 300px;
    }

    /* 85% {
        font-size: 200px;
    } */

    100% {
        font-size: 200px;
    }
}

#heart-shadow {
    font-size: 400px;
    color: white;
    animation: shadow-zoom 1.2s infinite;
    position: absolute;
    opacity: 0;
    
}

@keyframes shadow-zoom {
    0% {
        font-size: 300px;
        opacity: 0.1;
    }

    3% {
        font-size: 320px;
        opacity: 0.08;
    }

    6% {
        font-size: 340px;
        opacity: 0.06;
    }

    9% {
        font-size: 360px;
        opacity: 0.04;
    }

    12% {
        font-size: 380px;
        opacity: 0.02;
    }

    15% {
        font-size: 400px;
        opacity: 0;
    }

  
}